.nav-link:hover {
    color: #ffc107;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.form-outline .form-control:focus {
    border-color: #ffc107;
    box-shadow: none;
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: none;
}
